################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeShare.TLS1.2.Umbraco/.vs/CodeShare.TLS1.2.Umbraco/v15
