################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeShare.TLS1.2.Umbraco/.vs/CodeShare.TLS1.2.Umbraco/v15
/CodeShare.TLS1.2.Umbraco/App_Data/NuGetBackup/20181124-232137/CopyLogs
/CodeShare.TLS1.2.Umbraco/bin/Debug
/CodeShare.TLS1.2.Umbraco/obj/Debug
/CodeShare.TLS1.2.Umbraco/packages
